<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>User Page...</h1>
    <h1>name: <%=students.name %> </h1>
    <p>roll no = <%=students.roll %></p>
    <h2>color = <%=color%></h2>
    <% if (students.age<18) { %>
        <h2> Can't give vote </h2>
    <% } else { %>
              <h2> Can give vote </h2> 
             <% } %>

    <!-- <% if (flag >=5) { %>
        <% for (let i = 1; i <= 20; i++) { %>
            <p><% =i %> </p>
        <% } %>
    <% } %> -->
</body>
</html>