<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>

    <h1>Welcome</h1>

    <a href="/register">
        <button>Register</button>
    </a>

    <a href="/login">
        <button>Login</button>
    </a>

</body>
</html>