<!DOCTYPE html>
<html>
<head>
    <title>Faculty</title>
</head>
<body>

<h1>Faculty's Profile</h1>

<% allFaculty.forEach((element) => { %>

    <h2><%= element.name %></h2>
    <h3>Age: <%= element.age %></h3>

<% }) %>

</body>
</html>