<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="http://192.168.0.63:3000/getdata">Get Data</a>
    <br><br>
    <a href="http://192.168.0.63:3000/insertdata">Insert Data</a>
</body>
</html>