canvas {
    background-color: rgb(21, 215, 226);
    margin-top: 20rem;
    margin-left: 45rem;
}
#restart {
    border-radius: 5px;
    padding: 10px;
    border: 2px double rgb(14, 153, 228);
    font-size: large;
    color: rgb(247, 250, 247);
    background-color: rgb(5, 133, 244);
}